* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

nav {
  color: white;
  z-index: 1;
  position: fixed;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

nav ul {
  list-style: none;
  font-weight: lighter;
}

nav li {
  margin-bottom: 20px;
  transform: translate(0px, 650px);
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.lil-gui {
  --text-color: white;
  --widget-color: var(--widget-color);
  --padding: 15px;
  --spacing: 5px;
  --background-color: black;
  align-items: left;
  --title-background-color: var(--title-background-color);
  margin-top: 250px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset;
}

.lil-gui .title {
  top: -50px;
  padding: 0px;
  font-size: 3rem;
}

.lil-gui.root > .title {
  color: white;
}
.lil-gui.closed > .title:before {
  content: "";
}
.lil-gui .title:before {
  content: "";
}

.upload-form {
  position: absolute;
  transform: translate(-30px,100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: black;
  z-index: 2;
}
.upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
}

.upload-label {
  font-size: 1rem;
  margin-bottom: 10px;
  color: white;
}

.upload-input {
  font-size: 1rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: black;
  color: white;
  width: 100%;
  max-width: 400px;
}

.upload-btn  {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  transform: translate(5px, 500px);

}

.upload-btn :focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.upload-btn :hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.upload-btn :active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.variables-btn{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  transform: translate(0px, 25px);
}

.variables-btn :focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.variables-btn :hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.variables-btn :active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.sidebar {
  position: relative;
  width: 200px;
  height: 100%;
  background-color: black;
}

.slider-wrapper{
  display: flex;
  flex-direction: column;
  color: white;
  transform: translate(0px, -275px);
  width: 150px;
}

.lil-gui.allow-touch-styles.root.autoPlace{
  transform: translate(0px, -150px);
}

.result-panel {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
}

.green-text{
  text-align: center;
  color: green;
}